!!! XML
!!!
%html{html_attrs("en-US")}
  %head
    %title Movie Pole
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = auto_discovery_link_tag(:rss, movies_path(:format => :rss))
  %body
    #doc
      #hd
        %h1 Movie Pole

      #bd
        = flash[:notice]
        = flash[:error]
        = yield

      #ft
